SoapDictionary/SoapDictionary/WebContent/wsdl/DictServicesImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.com" xmlns:intf="http://ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="dictENtoVn">
    <complexType>
     <sequence>
      <element name="word" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dictENtoVnResponse">
    <complexType>
     <sequence>
      <element name="dictENtoVnReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="dictENtoVnRequest">

      <wsdl:part element="impl:dictENtoVn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dictENtoVnResponse">

      <wsdl:part element="impl:dictENtoVnResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DictServicesImpl">

      <wsdl:operation name="dictENtoVn">

         <wsdl:input message="impl:dictENtoVnRequest" name="dictENtoVnRequest">

       </wsdl:input>

         <wsdl:output message="impl:dictENtoVnResponse" name="dictENtoVnResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DictServicesImplSoapBinding" type="impl:DictServicesImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="dictENtoVn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dictENtoVnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dictENtoVnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DictServicesImplService">

      <wsdl:port binding="impl:DictServicesImplSoapBinding" name="DictServicesImpl">

         <wsdlsoap:address location="http://localhost:8080/SoapDictionary/services/DictServicesImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
